[Desktop Entry]
Type=Application
Name=Tainavpn
Comment=Весь трафик через прокси
Exec=/usr/bin/tainavpn
Icon=tainavpn
Terminal=false
Categories=Network;
StartupWMClass=tainavpn
